.form-box {
  opacity: 0;
  display: none;  // Completely hide the element and remove it from the document flow
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

  &.show {
    opacity: 1;
    display: block;  // Make the element visible and part of the document flow
  }
}